@model HomeCareApp.Models.Patient
@{
    ViewData["Title"] = "Register new patient";
    ViewBag.Role = "employee";
    ViewBag.ActiveTab = "patients";   
    Layout = "_Layout";
}

<h2 class="mb-3">Register new patient</h2>

 
<form asp-action="CreatePatient" method="post">  
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="phonenumber" class="form-label"></label>
        <input asp-for="phonenumber" class="form-control" />
        <span asp-validation-for="phonenumber" class="text-danger"></span>
    </div>

     <div class="mb-3">
        <label asp-for="HealthRelated_info" class="form-label"></label>
        <input asp-for="HealthRelated_info" class="form-control" />
        <span asp-validation-for="HealthRelated_info" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="PatientsList" class="btn btn-outline-secondary">Cancel</a> 
    </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
