@model Patient

<h2>Create New Patient</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="PatientId"></label><span class="text-danger">*</span>
        <input asp-for="PatientId" class="form-control" />
        <span asp-validation-for="PatientId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label><span class="text-danger">*</span>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HealthRelated_info"></label>
        <input asp-for="HealthRelated_info" class="form-control" />
        <span asp-validation-for="HealthRelated_info" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserId"></label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="EmergencyContactId"></label>
        <input asp-for="EmergencyContactId" class="form-control" />
        <span asp-validation-for="EmergencyContactId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Table" class="btn btn-secondary">Back to Table View</a>
</form>