@model Patient
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<h2>Update Patient</h2>

<form asp-action="UpdatePatient" method="post"> 
    @Html.AntiForgeryToken() 

    <input type="hidden" asp-for="PatientId" />
    <input type="hidden" asp-for="UserId" />
    
    
    <div class="form-group">
        <label asp-for="PatientId"></label>
        <span asp-validation-for="PatientId" class="text-danger"></span>
    </div>

   <div class="form-group">
        <label asp-for="FullName"></label><span class="text-danger">*</span>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="phonenumber"></label>
        <input asp-for="phonenumber" class="form-control" />
        <span asp-validation-for="phonenumber" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="HealthRelated_info"></label>
        <input asp-for="HealthRelated_info" class="form-control" />
        <span asp-validation-for="HealthRelated_info" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-controller="Employee" asp-action="Table" class="btn btn-secondary">Cancel</a>
</form>