@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to LifeLink!</h1>
    <h2 class="mb-4">Choose your role</h2>

    <div class="d-grid gap-3 col-6 mx-auto">
    <a asp-controller="Patient" asp-action="Index" class="btn btn-primary btn-lg">I am a patient</a>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-success btn-lg">I am health personnel</a>
    </div>
    
</div>
