@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LifeLink!</h1>
    <h2>Choose your role</h2>

<a href="/Views/Patient">I am a patient</a>
<a href="/Views/Employee">I am health personnel</a>
</div>
