@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LifeLink!</h1>
    <h2>Choose your role</h2>

<!--<a href="/Patient">I am a patient</a>
<a href="/Employee">I am health personnel</a>-->


    <a asp-controller="Patient" asp-action="Index">I am a patient</a>
    <a asp-controller="Employee" asp-action="Index">I am health personnel</a>
</div>
