@model IEnumerable<HomeCareApp.Models.Employee>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFELINK</title>
</head>
<body>
    <div class="container">
        <h1>@ViewBag.CurrentViewName</h1>
        <table class='table table-striped'>
            <thead>
                <tr><th>Available days</th></tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                       <td>
                           @if (employee.AvailableDays != null)
                           {
                               foreach (var availableDay in employee.AvailableDays)
                               {
                                   <div>@availableDay.ToString()</div>
                               }
                           }
                           else
                           {
                               <span>No available days</span>
                           }
                       </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</body>
</html>