@model IEnumerable<HomeCareApp.Models.User>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFELINK</title>
</head>
<body>
    <div class="container">
        <h1>@ViewBag.CurrentViewName</h1>
        <table class='table table-striped'>">
    
                <tr><th>Name</th><th>Phone</t>h><th>Price</th></tr></tr>
            
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                       <td>@user.Phone</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</body>
</html>